# Uncomment the desired COMPOSE_FILE line to use the corresponding configuration.

# COMPOSE_FILE=docker-compose.yml:docker-compose-postgres.yml

# COMPOSE_FILE=docker-compose.yml:docker-compose-oracle.yml

# COMPOSE_FILE=docker-compose.yml:docker-compose-sakila.yml

# COMPOSE_FILE=docker-compose.yml:docker-compose-lakegraph.yml

# COMPOSE_FILE=docker-compose.yml:docker-compose-icegraph.yml

# COMPOSE_FILE=docker-compose.yml:docker-compose-neo4j.yml

# COMPOSE_FILE=docker-compose.yml:docker-compose-pinot.yml

# COMPOSE_FILE=docker-compose.yml:docker-compose-singlestore.yml

# MySQL backend
# COMPOSE_FILE=docker-compose.yml:docker-compose-mysql.yml

# MariaDB backend
# COMPOSE_FILE=docker-compose.yml:docker-compose-mariadb.yml

# SQL Server backend
# COMPOSE_FILE=docker-compose.yml:docker-compose-sqlserver.yml


# ---------------------------------
COMPOSE_PATH_SEPARATOR=:

NEO4J_VERSION=2026.05.0-enterprise
NEO4J_PASSWORD=hellopassword
