# Uncomment the desired COMPOSE_FILE line to use the corresponding configuration.

# COMPOSE_FILE=docker-compose.yml:config/postgres/docker-compose.yml

# COMPOSE_FILE=docker-compose.yml:config/oracle/docker-compose.yml

# COMPOSE_FILE=docker-compose.yml:config/sakila/docker-compose.yml

# COMPOSE_FILE=docker-compose.yml:config/lakegraph/docker-compose.yml

# COMPOSE_FILE=docker-compose.yml:config/icegraph/docker-compose.yml

# COMPOSE_FILE=docker-compose.yml:config/neo4j/docker-compose.yml

# COMPOSE_FILE=docker-compose.yml:config/pinot/docker-compose.yml

# COMPOSE_FILE=docker-compose.yml:config/singlestore/docker-compose.yml

# MySQL backend
# COMPOSE_FILE=docker-compose.yml:config/mysql/docker-compose.yml

# MariaDB backend
# COMPOSE_FILE=docker-compose.yml:config/mariadb/docker-compose.yml

# SQL Server backend
# COMPOSE_FILE=docker-compose.yml:config/sqlserver/docker-compose.yml


# ---------------------------------
COMPOSE_PATH_SEPARATOR=:

NEO4J_VERSION=2026.05.0-enterprise
NEO4J_PASSWORD=hellopassword
